.birnima {
  position: relative;
  right: 0px !important;
  left: auto;
  width: 250px !important;
  margin: 10px;
}

@media (max-width: 576px) {
  .birnima {
    position: relative;
    right: 40% !important;
    left: auto !important;
    top: -280px;
    width: 230px !important;
    margin: 1px;
    height: 270px;
  }
}
